<div class="vertical-flex-spacer"></div>
<div class="swiper-container-wrapped">
    <div class="vertical-flex-spacer"></div>
    <div class="vertical-flex-spacer"></div>
    <div class="card-container" (click)="presentModal()">
        <div class="card-description">
            <div class="card-header">
                <div class="card-title">
                    {{(foodMenuStateFacade?.selectedFoodItem | async)?.name}}
                </div>
            </div>
            <div class="card-body">
                {{(foodMenuStateFacade?.selectedFoodItem | async)?.description}}
            </div>
        </div>
        <div class="card-image-container">
            <img class="card-image"
                 [src]="(foodMenuStateFacade?.selectedFoodItem | async)?.image"/>
            <div data-cy=add-to-order-modal class="add-to-order-button-container">
                Add to Order
            </div>
        </div>
        <div class="price-container">
            <div class="price-text"> ${{(foodMenuStateFacade?.selectedFoodItem | async)?.price}}</div>
        </div>
    </div>
    <div class="vertical-flex-spacer" *ngIf="menuItems"></div>
    <ng-container>
        <swiper [config]="config" #usefulSwiper (click)="selectItem()" class="swiper-container">
            <div class="swiper-wrapper" >
                <div class="swiper-slide" [id]="menuItem.id" *ngFor="let menuItem of menuItems">
                    <div class="price-label-container">
                        <div class="price-label">${{menuItem.price}}</div>
                    </div>
                    <img [src]="menuItem?.image"/>
                    <div class="group-label-container">
                        <div data-cy="parent-item-name" class="group-label">{{menuItem?.name}}</div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </swiper>
    </ng-container>

</div>


