<div class="login-page-container">
  <div class="vertical-spacer"></div>
  <div class="greeting-container">
    <div class="welcome-text">Welcome</div>
  </div>
  <div class="vertical-spacer"></div>
  <div class="greeting-container">
    <div class="to-text">to</div>
  </div>
  <div class="vertical-spacer"></div>
  <div class="greeting-container">
    <div class="feed-me-text">Beautify Me</div>
  </div>
  <div class="vertical-spacer"></div>
  <div class="align-login-image">
    <ion-avatar class="avatar-image">
      <ion-img src="https://images.pexels.com/photos/3865763/pexels-photo-3865763.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
      </ion-img>
    </ion-avatar>
  </div>
  <div class="vertical-spacer"></div>
  <div class="vertical-spacer"></div>
  <div class="vertical-spacer"></div>
  <div class="demo-start"  (click)="goToBeautyApp()">Try the Beauty demo</div>
  <div class="vertical-spacer"></div>
</div>
