<ion-content>

  <div class="login-page-container">
    <div class="vertical-spacer"></div>
    <div class="greeting-container">
      <div class="welcome-text">Welcome</div>
    </div>
    <div class="vertical-spacer"></div>
    <div class="greeting-container">
      <div class="to-text">to</div>
    </div>
    <div class="vertical-spacer"></div>
    <div class="greeting-container">
      <div class="feed-me-text">Feed Me</div>
    </div>
    <div class="vertical-spacer"></div>
    <div class="align-login-image">
      <ion-avatar class="avatar-image">
        <ion-img src="https://images.unsplash.com/photo-1603893662172-99ed0cea2a08?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=882&q=80">
        </ion-img>
      </ion-avatar>
    </div>
    <div class="vertical-spacer"></div>
    <div class="demo-start" (click)="goToApp()">Try the demo</div>
    <div class="vertical-spacer"></div>
  </div>


</ion-content>
