<ion-app>
<ion-split-pane contentId="main-content">
  <ion-menu side="start" menuId="side-menu" contentId="main-content">
    <ion-header>
      <ion-toolbar class="side-panel-menu-title">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="side-panel-background">
      <ion-list>
        <ion-item class="side-panel-item" (click)="logOut()">
          <div style="display: flex; justify-content: space-between; align-items: center; width: 100%; padding-right: 15px;">
            Log-out
            <svg style="transform: rotate(-180deg);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="24px" height="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/></svg>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
</ion-app>
