.menu-group-name{
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  background: #00A6ED;
  opacity: .99;
}
.menu-group-card{
  background: #0d2c54;
  border-radius: 15px;
  border: 4px solid white;
}
.menu-card-content{
  padding-bottom: 0px;
  padding-top: 0px;
}
.menu-group-image-card{
  background: #00A6ED;
  padding: 10px;
  top: 15px;
  border-radius: 15px;
  border: 4px solid #1253d4;
  margin: 0px;
  box-shadow: none;
}
.menu-group-image{
  border-radius: 8px !important;
  overflow: hidden;
}
