<div class="vertical-flex-spacer"></div>
  <div class="swiper-container-wrapped">
    <div class="vertical-flex-spacer"></div>
    <div class="card-container" *ngIf="foodMenu">
      <div class="card-description">
        <div class="card-header">
          <div class="card-title">
            {{(menuService?.getGroupDescription(0) | async)?.title}}
          </div>
        </div>
        <div class="card-body">
          {{(menuService?.getGroupDescription(0) | async)?.description}}
        </div>
      </div>


      <div class="card-image-container">
        <img class="card-image"
             [src]="(menuService?.getGroupDescription(0) | async)?.image"/>
      </div>
    </div>

    <div class="card-container" *ngIf="!foodMenu">
      <div class="card-description">
        <div class="card-header">
          <div class="card-title">
            {{(menuService?.getGroupDescription(1) | async)?.title}}
          </div>
        </div>
        <div class="card-body">
          {{(menuService?.getGroupDescription(1) | async)?.description}}
        </div>
      </div>


      <div class="card-image-container">
        <img class="card-image"
             [src]="(menuService?.getGroupDescription(1) | async)?.image"/>
      </div>
    </div>

    <div class="vertical-flex-spacer" *ngIf="menuItems"></div>
    <div  *ngIf="!showWrapper" class="loading-icon" >
    <img src="'../../assets/loading-animation.gif" height="100" width="100"/>
    </div>
    <ng-container  *ngIf="showWrapper" >

      <swiper [config]="config" class="swiper-container">
        <div class="swiper-wrapper" >
          <div class="swiper-slide" (click)="selectMenuGroup(menuGroup?.groupId)"
               *ngFor="let menuGroup of menuGroups"
               data-cy="login-input"
               [attr.data-cy]="'parent-item-name-' + menuGroup.name"
          >
            <img style="border-radius: 15px;"  [src]="menuGroup?.image"/>
            <div class="group-label-container">
              <div class="group-label" >{{menuGroup.name}}</div>
            </div>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </swiper>
    </ng-container>
  </div>
