<div class="vertical-flex-spacer"></div>
  <div class="swiper-container-wrapped">
    <div class="vertical-flex-spacer"></div>
    <div class="card-container" *ngIf="menuItems">
      <div class="card-description">
        <div class="card-header">
          <div class="card-title">
            Chef's Choice
          </div>
        </div>
        <div class="card-body">
          A traditional Italian seasoned roasted pork shoulder, seared in the oven, served on
          a fresh, hand-made flat-bread then topped with pesto crème fraiche and arugula
        </div>
      </div>


      <div class="card-image-container">
        <img class="card-image"
             src="https://images.pexels.com/photos/1260968/pexels-photo-1260968.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
      </div>
    </div>

    <div class="vertical-flex-spacer" *ngIf="menuItems"></div>
    <div  *ngIf="!showWrapper" class="loading-icon" >
    <img src="'../../assets/loading-animation.gif" height="100" width="100"/>
    </div>
    <ng-container  *ngIf="showWrapper" >

      <swiper [config]="config" class="swiper-container">
        <div class="swiper-wrapper" >
          <div class="swiper-slide" (click)="selectMenuGroup(menuGroup?.groupId)" *ngFor="let menuGroup of menuGroups" >
            <img style="border-radius: 15px;"  [src]="menuGroup?.image"/>
            <div class="group-label-container">
              <div class="group-label">{{menuGroup.name}}</div>
            </div>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </swiper>
    </ng-container>
  </div>
