/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.runningTotal {
  transform: translateY(-45px) !important;
}
.modal-wrapper{
  background: transparent !important;
}

.welcome-text{
  color: white;
  font-size: 48px;
}

.greeting-container{
  display: flex;
  justify-content: center;
}
.feed-me-text{
  color: white;
  font-size: 36px;
}
.to-text{
  color: white;
  font-size: 18px;
}
.login-page-container{
  display: flex;
  background: radial-gradient(#4ac7e7,  #00A6ED,  #00A6ED);
  height: 100%;
  justify-content: space-evenly;
  flex-direction: column;
}

.demo-start{
  padding: 15px;
  background: #e5341b;
  color: white;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 15px;
}
.align-login-image{
  display: flex;
  justify-content: center;
}
.avatar-image{
  width: 300px;
  height: 300px;
}
.vertical-spacer{
  display: flex;
  flex: 1;
}
ion-slides {
  height: 100%;
}
.slide-front-page{
  height: 100%;
  width: 100%;
}
.my-custom-menu {
  --width: 100px;
}
.side-panel-menu-title{
  --background: #00A6ED;
}
.side-panel-background{
  --background: #F0EFF4 !important;
}
.side-panel-item{
  --background: #d6d5de !important;
  --color: black !important;
  --border-color: transparent !important;
}
