<ion-tabs  >

  <ion-tab-bar class="tab-bar-bottom" (click)="resetBack()" slot="bottom" >
    <ion-tab-button tab="food">
        <ion-icon name="restaurant"  style="height: 50px; width: 50px;"></ion-icon>
        <ion-label style="padding-bottom: 3px;">Food</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="resetBack()" tab="drink">
      <ion-icon name="beer-outline"  style="height: 50px; width: 50px;"></ion-icon>
      <ion-label style="padding-bottom: 3px;">Drink</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="resetBack()" tab="order" >
      <ion-icon name="wallet-outline"  style="height: 50px; width: 50px;"></ion-icon>
      <ion-badge color="danger" style="font-size: 12px;">{{ (menuService.getNumberOrders() | async)}}</ion-badge>
      <ion-label style="padding-bottom: 3px;">Order</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
